<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Form Submission</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
		<nav class="navbar navbar-expand-md navbar-black bg-dark fixed-top">
		<a class="navbar-brand" href="/home">Home</a>
		<table>
			<tr>
				<td><a href="/logout">Logout</a></td>
			
			</tr>
		</table>
	</nav>
	<h1>Customer Form</h1>
	<div class="form-container" align="left">
		<form action="#" th:action="@{/newCat}" th:object="${cat}"
			method="post" align="right">
			<p>
				Name: <input type="text" th:field="*{name}" />
			</p>
			<p>
				Micro-chip Number: <input type="text" th:field="*{chipNo}" />
			</p>
			
			<p>
				Meal Plan: <select name="mealPlan"th:field="*{food}">
					<option
						th:each="mealPlan : ${T(com.pc1crt.application.model.MealPlan).values()}"
						th:value="${mealPlan}" 
						th:text="${mealPlan}"
						 th:selected="${mealPlan == T(com.pc1crt.application.model.MealPlan)}"
						>
						</option>
						</select>
				
			</p>
			<p>
				Vaccination date: <input type="date" th:value="*{vaccinatedDate}" th:field="*{vaccinatedDate}" />
			</p>
			<p>
				Cat's Temperment: <input type="text" th:field="*{temperment}" />
			</p>
			<p>
				Litter Instructions: <input type="text" th:field="*{litterType}" />
			</p>
			<p>
				Other Information: <input type="text"
					th:field="*{otherInformation}" />
			</p>

			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>
	</div>
</body>
</html>