
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Form Submission</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-black bg-dark fixed-top">
		<a class="navbar-brand" href="/">Home</a>
	</nav>
	<h1>Add Cats to Booking</h1>
	<div class="form-container" align="left">
		<form action="#" th:action="@{/addCats/{id}(id=${booking.bookingNo})}" th:object="${booking}"
			method="post" align="left">
			<input type="hidden" th:field="*{bookingNo}" id="bookingNo" placeholder="bookingNo"/>
			<h3>Which Cats are staying in this booking?</h3>
			<table class="table table-striped">
				<tr>
					<th>select</th>
					<th>Chip Number</th>
					<th>Name</th>


				</tr>
				<th:block th:each="cat : ${cats}">
					<tr>


						<td><input type="checkbox" th:field="*{cats}"
							th:value="${cat.chipNo}" /></td>
						<td th:text="${cat.chipNo}"></td>
						<td th:text=" ${cat.name}"></td>


					</tr>
				</th:block>
			</table>
			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>
		<h3><a  href="/rooms">Back to Rooms</a></h3>
	</div>
</body>
</html>