<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Paul's playground</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>


	<nav class="navbar navbar-expand-md navbar-black bg-dark fixed-top">
		<a class="navbar-brand" href="home">Paulchew</a>
		<table>
			<tr>
				<td><a href="logout">Logout</a></td>
			
			</tr>
		</table>
	</nav>
	  <p>This is User Profile\Index. Only authenticated people can see this</p>
    <table>
        <tr>
            <td>Username</td>
            <td><span sec:authentication="name"></span></td>
        </tr>
        <tr>
            <td>Authorities</td>
            <td><span sec:authentication="principal.authorities"></span></td>
        </tr>
    </table>
<body>
	<h2>Welcome to the cats whiskers hotel.</h2>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<h3>
		<a href="/staff/owners">List of Owners</a>
	</h3>
	<h3>
		<a href="/staff/rooms">List of Rooms</a>
	</h3>
	<h3>
		<a href="/staff/booking">List of Bookings</a>
	</h3>
	<h3>
		<a href="/staff/availability">Todays rooms</a>
	</h3>

</body>
</html>