
</html><!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Paul's playground</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-black bg-dark fixed-top">
		<a class="navbar-brand" href="/home">Home</a>
		<table>
			<tr>
				<td><a href="/logout">Logout</a></td>
			
			</tr>
		</table>
	</nav>

	<main role="main" class="container" align="left">


		<h1>Bookings</h1>
		<a href="/staff/booking">bookings</a>
		<table class="table table-striped">
			<tr>
				<th>Room Number</th>
				<th>Availability</th>
				<th>Actions</th>

			</tr>
			<tr th:each="room : ${rooms}">
				<td th:text="${room.roomNo}"></td>
				<td th:text="${room.available} ?'Available': 'Unavailable'"></td>
				<td><span th:if="${room.available == true}"><a href="#"
						th:href="@{/staff/booking/new/} + ${room.roomNo}">Book Room</a></span> <span
					th:if="${room.available == false}">Room is already booked</span></td>






			</tr>
		</table>
		



	</main>



</body>
</html>