<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Paul's playground</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

		<nav class="navbar navbar-expand-md navbar-black bg-dark fixed-top">
		<a class="navbar-brand" href="/home">Home</a>
		<table>
			<tr>
				<td><a href="/logout">Logout</a></td>
			
			</tr>
		</table>
	</nav>

	<main role="main" class="container">


		<h1>Customers</h1>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}">
		</div>
		<a href="/newCustomer"> Add New Customer </a>
		
		<table class="table table-striped">
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Address</th>
				<th>Contact Number</th>
				<th>Actions</th>
			</tr>
			<tr th:each="owner : ${owners}">
				<td th:text="${owner.firstName}"></td>
				<td th:text="${owner.surName}"></td>
				<td th:text="${owner.email}"></td>
				<td th:text="${owner.address}"></td>
				<td th:text="${owner.contactNumber}"></td>
				<td><a href="#" th:href="@{/staff/owner/update/} + ${owner.customerNumber}">Edit</a>
					<a href="#" th:href="@{/admin/owner/delete/} + ${owner.customerNumber}">Delete</a>
					<a href="#" th:href="@{/staff/owner/cat/} + ${owner.customerNumber}">View Cats</a> 
					<a href="#"	th:href="@{/staff/owner/cat/add/} + ${owner.customerNumber}">Add Cat</a>

				</td>

			</tr>
		</table>
		



	</main>



</body>
</html>