<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Paul's playground</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

	<nav class="navbar navbar-expand-md navbar-black bg-dark fixed-top">
		<a class="navbar-brand" href="/">Home</a>

	</nav>

	<main role="main" class="container" align="left">


		<h1>Bookings</h1>
		<a href="/staff/booking">bookings</a>
		<table class="table table-striped">
			<tr>
				<th>Room Number</th>
				<th>Availability</th>
				<th>Bookings</th>

			</tr>
			<tr th:each="room : ${rooms}">
				<td th:text="${room.roomNo}"></td>
				<td th:text="${room.available} ?'Available': 'Booked'"></td>
				<td><span th:if="${room.available == true}">no Bookings	to show</span>
				 <span th:if="${room.available == false}">
						<table>
							<tr th:each="booking :${bookings}">
								<span th:if="${booking.room.roomNo} == ${room.roomNo}">
									<table>

										<tr th:each="cat,catStat :${booking.cats}">
											<td th:text="${catStat.count}"></td>
											<td th:text="${cat.name}"></td>

										</tr>
									</table>
									</span>
							</tr>
						
						
				</span>
				</td>
			</tr>
		</table>




	</main>



</body>