<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Paul's playground</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

</head>

<body>

		<nav class="navbar navbar-expand-md navbar-black bg-dark fixed-top">
		<a class="navbar-brand" href="/home">Home</a>
		<table>
			<tr>
				<td><a href="/logout">Logout</a></td>
			
			</tr>
		</table>
	</nav>

	<main role="main" class="container">


		<h1>Users</h1>
		<div class="alert alert-danger" th:if="${error != null}" th:text="${error}">
		</div>
		<a href="/admin/users/new"> Add New User </a>
		<table class="table table-striped">
			<tr>
				<th>UserName</th>
				<th>Roles</th>
				<th>Activated</th>
				
				<th>Actions</th>
			</tr>
			<tr th:each="user : ${users}">
				<td th:text="${user.userName}"></td>
				<td th:text="${user.roles}"></td>
				<td th:text="${user.active}"></td>
				<td><a href="#" th:href="@{/admin/users/update/}+ ${user.id}">Edit</a>
					<a href="#" th:href="@{/admin/users/delete/}+ ${user.id}">Delete</a>

			

			</tr>
		</table>
		



	</main>



</body>
</html>