body {
  padding-top: 5em;
  color: #000000;
}
.starter-template {
  padding: 3.5em;
  text-align: center;
}

h1{
	color:#1616e9;
}

h2{
	color:#ff0000;
}
.form-container{
	width: 50%;
}
h3{
	color:rgb(23, 217, 211);
}
h4{
	color:rgb(23, 217, 211);
}
