<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Form Submission</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-black bg-dark fixed-top">
		<a class="navbar-brand" href="/">Home</a>
	</nav>
	<h1>Customer Form</h1>
	<div class="form-container" align="left">
		<form action="#" th:action="@{/searchResult}" th:object="${Booking}" method="post"
			align="right">

			<h3>search for bookings by date</h3>
			<p>
				Check in Date: <input type="date" />
			</p>
			<p>
				Check out Date: <input type="date" />
			</p>
			<h3>Search for room by number</h3>
			<h4>Add dates for better search</h4>
			<p>
				<input type="text" />
			</p>
			<h3>Search for Owner by Email</h3>
			<p>
				<input type="text" />
			</p>

			<p>
				<input type="submit" value="Submit" /> <input type="reset"
					value="Reset" />
			</p>
		</form>
	</div>
</body>
</html>